<section class="bsb-about-6 py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-center">Why Choose Us</h2>
        <p class="text-secondary mb-5 text-center lead fs-4">
          Looking for a reliable place for your dog? At PawsHotel, we offer
          personalized service, modern facilities and safe play areas. Our
          dedicated team ensures your pet's well-being and happiness with
          individualized attention.Choosing our hotel means opting for
          unparalleled quality, safety and care. Book now and provide your best
          friend with the care they deserve!
        </p>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle" />
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row gy-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6">
        <img
          class="img-fluid rounded border border-dark"
          loading="lazy"
          src="assets/about-us-image.jpg"
          alt="About 6"
        />
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-xl-end">
          <div class="col-12 col-xl-11">
            <div class="accordion accordion-flush" id="accordionAbout">
              <div class="accordion-item mb-4 border border-dark">
                <h2 class="accordion-header" id="headingOne">
                  <button
                    class="accordion-button bg-transparent fs-4 fw-bold"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Dog Facilities
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionAbout6"
                >
                  <div class="accordion-body">
                    <div>
                      <strong> Large and Medium Dogs:</strong> We provide large
                      outdoor spaces as these dogs need more space to exercise
                      and expend energy. Our areas are fenced and monitored,
                      ensuring safety and fun.
                    </div>
                    <div>
                      <strong>Small Dogs:</strong> Small dogs are more
                      susceptible to temperature changes and vulnerable to
                      external dangers. Therefore, we offer controlled, safe and
                      welcoming internal environments, ensuring the comfort and
                      protection they need.
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item mb-4 border border-dark">
                <h2 class="accordion-header" id="headingTwo">
                  <button
                    class="accordion-button collapsed bg-transparent fs-4 fw-bold"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    Cat Facilities
                  </button>
                </h2>
                <div
                  id="collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingTwo"
                  data-bs-parent="#accordionAbout6"
                >
                  <div class="accordion-body">
                    Our facilities are designed to provide a calming space with
                    comfortable resting areas and interactive toys that
                    stimulate cats' minds and bodies. Each cat receives
                    personalized attention, ensuring they feel safe and loved
                    throughout their stay.
                  </div>
                </div>
              </div>
              <div class="accordion-item mb-4 border border-dark">
                <h2 class="accordion-header" id="headingThree">
                  <button
                    class="accordion-button collapsed bg-transparent fs-4 fw-bold"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    Requirements to admit your pet to our Hotel
                  </button>
                </h2>
                <div
                  id="collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordionAbout6"
                >
                  <div class="accordion-body">
                    <div>
                      <strong>1.Vaccination Report:</strong>It is mandatory that
                      the animal has its vaccination card up to date, as well as
                      up-to-date internal and external deworming.
                    </div>
                    <div>
                      <strong>2.Microchip:</strong>All pets must have a
                      microchip with updated registration.
                    </div>
                    <div>
                      <strong>3.Health:</strong>Sick pets or with contagious
                      conditions are not accepted, as they may compromise the
                      health of other animals.
                    </div>
                    <div>
                      <strong>4.Special Needs:</strong>Let us know if your dog
                      has any special needs or specific diet.
                    </div>
                    <div>
                      <strong>5.Sterilization:</strong>Inform whether or not
                      your pet is sterilized.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="map-container">
        <h2 class="mb-4 display-5 text-center">Where to find us</h2>
        <p class="text-center">
          R. do Curral, 4610-156 Margaride (Santa Eulália), Felgueiras
        </p>
        <hr class="w-25 mx-auto mb-3 mb-xl-9 border-dark-subtle" />
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2994.332831656881!2d-8.197301923027217!3d41.36685299726723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd24ebb9287835e1%3A0xca919ba04ec42efc!2sESTG%20-%20Escola%20Superior%20de%20Tecnologia%20e%20Gest%C3%A3o%20%7C%20Polit%C3%A9cnico%20do%20Porto!5e0!3m2!1sen!2spt!4v1720352244839!5m2!1sen!2spt"
        ></iframe>
      </div>
      <div class="map-container">
        <p class="text-center mt-4">
          Travessa Eiras 4, 4424-634 Sangunhedo, Boticas
        </p>
        <hr class="w-25 mx-auto mb-3 mb-xl-9 border-dark-subtle" />
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2505.4107985537926!2d-7.673813226893804!3d41.68916961899889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd3ad643e6bc28fb%3A0x263cf96e36b14a62!2sCEDIEC!5e0!3m2!1sen!2spt!4v1720724017814!5m2!1sen!2spt"
        ></iframe>
      </div>
    </div>
  </div>
</section>
