body, .bsb-about-6 {
    font-family: 'Roboto', sans-serif ;
}

iframe {
    width: 100%;
    height: 100%;
}

.map-container {
    margin-top: 4rem;
    margin-bottom: 6rem;
    height: 400px;
}

#accordionAbout {
    text-align: justify;
}