
<div class="container-fluid mt-5">
  <footer class="bg-dark text-center text-white">
    <div class="container p-4 pb-0">
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" role="button" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://x.com/?lang=en" role="button" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.pt/" role="button" target="_blank">
          <i class="fab fa-google"></i>
        </a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-white" href="/">{{hotelName}}.com</a>
      |
      <a class="text-white" href="/terms-of-service">Terms of Service</a>
    </div>
  </footer>
</div>
